@font-face {
  font-family: "Ultra";
  src: url("fonts/Ultra-Regular.ttf");
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

canvas {
  background-color: black;
  display: block;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 480px;
  position: relative;
  width: 720px;
  box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

#controls {
  display: flex;
  top: 10px;
  right: 20px;
  position: absolute;
  gap: 10px;
}

.background-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: 0;
  filter: blur(5px);
}

.d-none {
  display: none !important;
}

.control-buttons {
  height: 45px;
  width: 45px;
  object-fit: cover;
  cursor: pointer;
}

.setting-buttons {
  height: 30px;
  width: 30px;
  object-fit: cover;
  cursor: pointer;
}

.btn-explanation {
  position: relative;
  display: none;
  justify-content: space-between;
  width: 720px;
  margin-top: 20px;
}

.control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: rgb(255, 183, 0);
  border: 1px solid black;
}

.control-img {
  height: 45px;
  width: 45px;
}

.control-btn-container {
  display: flex;
  gap: 10px;
}

.start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 60px;
  width: 180px;
  border-radius: 15px;
  background-color: rgb(255, 183, 0);
  border: 3px solid black;
  font-size: 2rem;
  font-family: Ultra;
}

.restart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 60px;
  width: 180px;
  border-radius: 15px;
  background-color: rgb(255, 183, 0);
  border: 3px solid black;
  font-size: 2rem;
  font-family: Ultra;
  position: absolute;
  top: 20px;
}

#infoDiv {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(128, 92, 46, 0.952) 0%,
    rgba(255, 153, 0, 0.929) 100%
  );
  z-index: 10;
  border-radius: 10px;
  font-family: Ultra;
}

#rotationDiv {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(128, 92, 46, 0.952) 0%,
    rgba(255, 153, 0, 0.929) 100%
  );
  z-index: 10;
  border-radius: 10px;
  font-family: Ultra;
  font-size: 2rem;
}

#rotationDiv span {
  text-align: center;
}

#endScreenDiv {
  display: flex;
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

#endScreenDiv img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.flex-100 {
  display: flex;
  width: 100%;
  height: 100%;
}

.centered {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.close-btn {
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.close-btn-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

table tr td:nth-child(2) {
  padding-left: 10px;
}

table {
  margin-top: 20px;
}

.start-btn-container {
  display: flex;
  top: 20px;
  position: absolute;
}

@media only screen and (max-width: 1000px) {
  #container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  #rotationDiv {
    display: flex;
  }
}

@media only screen and (max-height: 480px) {
  #container {
    max-height: 80%;
  }

  .btn-explanation {
    margin-top: 5px;
    width: 80%;
    display: flex;
  }
  .control-btn {
    height: 50px;
    width: 50px;
  }

  .start-btn {
    height: 35px;
    width: 140px;
    font-size: 1.5rem;
  }

  .restart-btn {
    height: 35px;
    width: 140px;
    font-size: 1.5rem;
  }

  #fullScreenBtn {
    display: none;
  }
}
